# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
x=5
print(type(x))

<class 'int'>

##### Assinging float

In [ ]:
y=10.0
print(type(y))

<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
print(15+40)

55

##### Subtraction

In [ ]:
print(144-44)

100

##### Multiplication

In [ ]:
print(50*20)

1000

##### Division

In [ ]:
print(44/4)

11.0

##### Floor Division

In [ ]:
x=10
y=15
print(x//y)

0

##### Modulo

In [ ]:
(19%4)

3

##### Exponential

In [ ]:
print(5**3)

125

### String Input-Output

##### String Assignment

In [ ]:
my_name="ola"

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
my_name="ola"
print(my_name)

ola

##### String Concatenation

In [ ]:
my_string = "Hello python !"
print(my_string)

Hello python !

##### Type Conversion

In [ ]:
num_str = "42"
num = int(num_str)
print(num)

42

##### input()

In [ ]:
user_input = input("james: ")
print("Hello my friend: "  + user_input)

james: Hello my friend
Hello my friend: Hello my friend

##### format()

In [ ]:
name = "olakunle"
age = 46
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is olakunle and I am 46 years old.

##### Old Way (python 2)

In [ ]:
print "Hello, friend !"

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
color = input("silver: ")
year = input("2023: ")
make = input("Toyota: ")
model = input("Camry: ")
print("\nVehicle Information:")
print(f"Color: {color}")
print(f"Year: {year}")
print(f"Make: {make}")
print(f"Model: {model}")

silver:
2023:
Toyota:
Camry:

Vehicle Information:
Color:
Year:
Make:
Model:

### If Statements

In [ ]:
x = 3

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

##### 'in' keyword

In [ ]:
my_list = [1, 2, 3, 4, 5]
if 3 in my_list:
    print("3 is in the list")
else:
    print("3 is not in the list")

3 is in the list

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(4 in my_set)   
print(6 in my_set)

True
False

##### 'not in' keyword'

In [ ]:
string = "Hello, World!"
print("Hello" not in string)  
print("Python" not in string)

False
True

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
user_input = input("Best language is python: ")

if 'p' in user_input:
    print("The letter 'p' is in the input.")
else:
    print("The letter 'p' is not in the input:.")

Best language is python: P
The letter 'p' is not in the input:.

## Using 'and'/'or' with If Statements

In [ ]:
x = 5
y = 10
z = -5

if x > 0 and (y > 0 or z > 0):
    print("x is greater than 0, and either y or z is greater than 0")

x is greater than 0, and either y or z is greater than 0

### Elif Statements

In [ ]:
x = 10

if x > 20:
    print("x is greater than 20")
elif x > 15:
    print("x is greater than 15 but not greater than 20")
elif x > 10:
    print("x is greater than 10 but not greater than 15")
else:
    print("x is 10 or less")

x is 10 or less

### Else Statements

In [ ]:
age = 18

if age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult.")

You are an adult.

### For Loops

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd

##### Using 'in' keyword

In [ ]:
my_list = [1, 2, 3, 4, 5]
if 3 in my_list:
    print("3 is in the list")

3 is in the list

##### Continue Statement

In [ ]:
for num in range(1, 11):
    if num % 2 != 0:
        continue  
    print(num)

2
4
6
8
10

In [ ]:
for num in range(1, 11):
    if num % 2 != 0:  
        continue  
    print(num)

2
4
6
8
10

##### Break Statement

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

for fruit in fruits:
    if fruit == "cherry":
        break
    print(fruit)

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

for fruit in fruits:
    if fruit == "cherry":
        break
    print(fruit)

print("Loop ended")

apple
banana
Loop ended

##### Pass Statement

In [ ]:
def some_function():
    pass  # This function doesn't do anything yet, but it's syntactically valid.

for i in range(5):
    if i % 2 == 0:
        pass  # Placeholder for handling even numbers later
    else:
        print(i)  # Print odd numbers

1
3

In [ ]:
def my_function():
    pass  # Placeholder for future code

for i in range(5):
    # Some code here
    pass  # Placeholder for future code

##### Double For Loops

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for element in row:
        print(element, end=' ')
    print()

1 2 3
4 5 6
7 8 9

### While Loops

In [ ]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

##### Looping 'While True'

In [ ]:
while True:
    # Code to be executed repeatedly
    user_input = input("Enter 'q' to quit: ")
    
    if user_input == 'q':
        break  # Exit the loop if the user enters 'q'

print("Loop has ended.")

Enter 'q' to quit: q
Loop has ended.

##### While & For Loops Used Together

In [ ]:
# Example: Using while and for loops together
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
threshold = 6

# Initialize a counter
count = 0

# Use a while loop to iterate until the threshold is reached
while count < threshold:
    for num in numbers:
        if num % 2 == 0:
            print(f"{num} is even")
        else:
            print(f"{num} is odd")
    count += 1

print("Threshold reached!")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
Threshold reached!

### Built-In Functions

##### range()

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

##### len()

In [ ]:
my_string = "Hello, World!"
length = len(my_string)
print(length)

13

##### help()

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### isinstance()

In [ ]:
x = 10
if isinstance(x, int):
    print("x is an integer")

y = "Hello, World!"
if isinstance(y, str):
    print("y is a string")

z = [1, 2, 3]
if isinstance(z, (list, tuple)):
    print("z is a list or tuple")

x is an integer
y is a string
z is a list or tuple

##### abs()

In [ ]:
num1 = -5
num2 = 10

abs_num1 = abs(num1)  
abs_num2 = abs(num2)  
print(abs_num1)
print(abs_num2)

5
10

### Try and Except

In [ ]:
try:
    x = int(input("Enter a number: "))
    result = 10 / x
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Division by zero.")
except ValueError:
    print("Error: Invalid input. Please enter a valid number.")
except Exception as e:
    print("An unexpected error occurred:", e)

Enter a number: e
Error: Invalid input. Please enter a valid number.

### Lists

##### Declaring Lists

In [ ]:
# Creating an empty list
my_list = []

# Initializing a list with elements
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed_list = [1, "hello", 3.14, True]
print(mixed_list)
print(fruits)
print(numbers)

[1, 'hello', 3.14, True]
['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]

##### Indexing a List

In [ ]:
my_list = [10, 20, 30, 40, 50]


first_element = my_list[0]  
second_element = my_list[1]  

last_element = my_list[-1]    
second_last_element = my_list[-2]  (40)


subset = my_list[1:4]  
partial_list_starting_from_index_2 = my_list[2:]   the end (30, 40, 50)
partial_list_up_to_index_3 = my_list[:3]

##### .append()

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)  
print(my_list)

[1, 2, 3, 4]

##### .insert()

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 10)  # Insert 10 at index 2
print(my_list)

[1, 2, 10, 3, 4, 5]

##### .pop()

In [ ]:
fruits = ["apple", "banana", "cherry"]
last_fruit = fruits.pop()

print(last_fruit)  
print(fruits)

cherry
['apple', 'banana']


##### .remove()

In [ ]:
my_list = [1, 2, 3, 4, 5]

print(my_list)

[1, 2, 3, 4, 5]

##### del()

In [ ]:
class MyClass:
    def __init__(self):
        self.data = 42

obj = MyClass()
del obj  # Deletes the object and frees up its memory

##### Concatenating Two Lists

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

concatenated_list = [x for x in list1] + [x for x in list2]
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [ ]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Accessing an element
element = nested_list[1][2]  # element is now 6

# Modifying an element
nested_list[0][0] = 10

# Iterating through the nested list
for row in nested_list:
    for element in row:
        print(element)

# Adding a new row
new_row = [11, 12, 13]
nested_list.append(new_row)

# Removing a row
nested_list.pop(1)

# Removing an element from a row
nested_list[0].remove(2)

10
2
3
4
5
6
7
8
9

##### Looping Through Lists

In [ ]:
my_list = [1, 2, 3, 4, 5]
for index, item in enumerate(my_list):
    print(f"Index: {index}, Value: {item}")

Index: 0, Value: 1
Index: 1, Value: 2
Index: 2, Value: 3
Index: 3, Value: 4
Index: 4, Value: 5

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
max_limit = 1000
current_number = 1

while True:
    cube = current_number ** 3
    if cube > max_limit:
        break
    print(cube)
    current_number += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    elif n <= 3:
        return True
    elif n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True
primes = [2, 3]  
for num in range(5, 101, 2):  
    if is_prime(num):
        primes.append(num)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:

user_age = int(input("Please enter your age: "))

if user_age < 18:
    print("You are a kid.")
elif 18 <= user_age <= 65:
    print("You are an adult.")
else:
    print("You are a senior.")

Please enter your age: 65
You are an adult.

In [ ]:
user_age = int(input("Please enter your age: "))

if user_age < 18:
    print("You are a kid.")
elif 18 <= user_age <= 65:
    print("You are an adult.")
else:
    print("You are a senior.")

Please enter your age: 18
You are an adult.

In [ ]:

age_str = input("Please enter your age: ")
age = int(age_str)
if age < 18:
    print("Kids")
elif age >= 18 and age <= 65:
    print("Adults")
else:
    print("Seniors")

Please enter your age: 18
Adults

In [ ]:

age_str = input("Please enter your age: ")
age = int(age_str)
if age < 18:
    print("Kids")
elif age >= 18 and age <= 65:
    print("Adults")
else:
    print("Seniors")

Please enter your age: 16
Kids

In [ ]:
# Take user input for age
age_str = input("46: ")

if age < 18:
    print("Kids")
elif age >= 18 and age <= 65:
    print("Adults")
else:
    print("Seniors")

46: adult
Kids